<h1>新規投稿画面</h1>

<%= form_with(model: @diary, local: true) do |form| %>
  <div class="diary_title">
    <%= form.label :content %>
    <%= form.text_field :content %>
  </div>

  <%= form.submit %>
<% end %>